<div class="login-container">
  <div class="logo-container">
    <div class="logo"></div>
    <div style="color: white; font-size: 24px; font-weight: bold; margin-left: 10px">KenVerse</div>
  </div>

  <div class="login-box">
    <h3 nz-typography style="color: white; text-align: center">Welcome back!</h3>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <nz-form-item>
        <nz-form-label>
          <span style="font-size: 12px; font-weight: bold">EMAIL</span>
          <span style="color: rgb(245, 121, 118)"> *</span>
          @if (errors['userName']) {
            <span style="color: rgb(245, 121, 118); font-style: italic; font-size: 12px"> - {{ errors['userName'] }}</span>
          }
        </nz-form-label>
        <nz-form-control>
          <app-custom-input
            formControlName="userName"
            [customStyle]="{ backgroundColor: '#28282d', color: '#d0d1d3', borderColor: '#40444b' }"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>
          <span style="font-size: 12px; font-weight: bold">PASSWORD</span>
          <span style="color: rgb(245, 121, 118)"> *</span>
          @if (errors['password']) {
            <span style="color: rgb(245, 121, 118); font-style: italic; font-size: 12px"> - {{ errors['password'] }}</span>
          }
        </nz-form-label>
        <nz-form-control>
          <app-custom-password-input
            formControlName="password"
            [visibilityToggle]="false"
            [customStyle]="{ backgroundColor: '#28282d', color: '#d0d1d3', borderColor: '#40444b' }"
          />
        </nz-form-control>
      </nz-form-item>

      <app-custom-button
        type="primary"
        htmlType="submit"
        [loading]="loading"
        [buttonStyle]="{ width: '100%', backgroundColor: '#5865f2' }"
      >
        Login
      </app-custom-button>
    </form>

    <div style="text-align: left; margin-top: 16px">
      <span style="color: #b5bac1">
        Need an account? <a routerLink="/register" style="color: #5865f2">Register</a>
      </span>
    </div>
  </div>
</div>
