.login-layout {
    display: flex ;
    min-height: 100vh;
    justify-content: "space-between" !important;
    background-image: url('../../../../assets/Images/login-background.jpg');

  }
  
  .login-left {
    flex: 1;
    background-image: url('../../../../assets/Images/..jpg');
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

  }
  
  .login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: "#fee4d3";
  }
  
  .login-form-container {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    height: 600px;
  }
  
  .login-form-container .ant-typography {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .login-form-container .ant-btn {
    margin-top: 16px;
  }

  *{
    font-family: 'Inter', sans-serif;
  }
  